.image-container {
    border: 1px solid #DDDDDD;
    width: 200px;
    height: 200px;
    position: relative;
 }
 .overlay-text {
    float: center;
    position: float;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #92AD40;
    background-visibility: hidden
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
 }