.image-container {
    border: 1px solid #1f1515;
    width: 200px;
    height: 200px;
    position: relative;
 }
 .overlay-text {
    float: center;
    position: absolute;
    bottom: 2;
    background: rgb(126, 69, 69);
    background: rgba(0, 0, 0, 0);
    
    
    
    
    
    padding: 0px;
    color: #110d0d;
    font-weight: bold;
    font-size: xx-large;
 }